<div class="container">
  <div class="row pb-5 justify-content-center align-items-center">
    {{#each employees}}
      <div class="col-lg-3 mt-2 ">
        <div class="card" style="height:350px">
          <img src="{{this.avartaimage}}" class="card-img-top mt-3" alt="..." style="height:100px" />
          <div class="card-body">
            <h5 class="card-title text-center">{{this.name}}</h5>
            <h6 class="card-title text-center">{{this.title}}</h6>
            <div class="user-status">
              <h6 class="user-status-text text-center">
                <i
                  class="fa-solid fa-circle"
                  style="color:{{this.workingstatus.offline.offlinecolor}}"
                ></i>
                {{this.workingstatus.offline.offlinetext}}
              </h6>
            </div>
            <select
              class="form-select mt-3"
              aria-label="Default select example"
            >
              <option value={{this.workPlace.company}}>Company</option>
              <option value={{this.workPlace.home}}>Home</option>
            </select>
            <div
              class="d-flex justify-content-around align-items-center"
              style="width:100%;"
            >
              <form method="POST" style="width:40%" action="/user/{{this._id}}/check-in?_method=PUT">
                <input type="hidden" value="{{this._id}}" name="_id">
                <input type="hidden" value="green"
                 name="onlinecolor">
                <input type="hidden" value="working" name="onlinetext">
                <input type="hidden" value="disabled" name="butoff">
                <input type="hidden" value="enable" name="buton">
                <input type="hidden" value="{{getdate}}" name="workingdayandtime">
                <button
                  type="submit"
                  class="btn btn-success mt-3 text-align-center"
                  {{this.workingstatus.online.checkinBut}}
                >Working
                </button>
              </form>
              <form method="POST" style="width:40%" action="/user/{{this._id}}/check-out?_method=PUT">
                <input type="hidden" value="{{this._id}}" name="_id">
                <input type="hidden" value="red"
                 name="offlinecolor">
                <input type="hidden" value="offline" name="offlinetext">
                <input type="hidden" value="enable" name="buton">
                <input type="hidden" value="disabled" name="butoff">
                <input type="hidden" value="{{getdate}}" name="workingdayandtime">
                <button
                  type="submit"
                  class="btn btn-success mt-3 text-align-center"
                  {{this.workingstatus.offline.checkoutBut}}
                >Finish
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <textarea class="check-in-out-infomation mt-2">
        Day:{{dateconverter this.workingtimeandday.workingday}}
        Check in Time:{{timeconverter this.workingtimeandday.workingtime}}
        Check out Time : {{timeconverter this.workingtimeandday.offworking}}
        Working time today(hour/day) :
      </textarea>
    {{/each}}
  </div>
</div>